body {
    padding: 0;
    margin: 0;
    background: #000000;
}
.navbar {
    background:#808080;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}
.description:after {
    content: "";
    display: table;
    clear: both;
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
}
.column h1 {
    color: #FED401;
}
.column h2 {
    color: #FED401;
}
.column p {
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.5;
}
.column img {
    padding-top: 52px;
    max-width:70%;
    max-height:70%;
    padding-bottom: 10px;
}
.column ul {
    padding-top: 0px;
    color: #fff;
    font-size: 1.3rem;
}