.service {
    max-width: 80%;
    left: 10%;
    right: 10%;
    position: relative;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #000;
}
.service h1 {
    font-size: 35px;
    color: #00274C !important; /* Michigan Blue or a strong Navy */
    border-bottom: 2px solid #FED401; /* Keeps your yellow as a stylish accent line */
    padding-bottom: 5px;
    margin-top: 40px;
}
.service h2 {
    margin-top: 10px;
    font-size: 25px;
    color: #333 !important;
}
.service h3 {
    margin-top: 5px;
    font-size: 20px;
}
.service p {
    margin-bottom: 3px;
}
.service ul {
    margin-bottom: 3px;
}
.service figure{
    margin-top: 10px;
    margin-bottom: 3px;
}
.service figcaption {
  font-size: 12px;
  font-style: italic;
  text-align: center;
}
.service img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}